html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.reachMe {
    display: flex;
    flex-direction: row;
    /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
    justify-content: flex-start;
    /* Below removes bullets and cleans white-space */
    list-style: none;
    padding: 0;
    /* Bonus: forces no word-wrap */
    white-space: nowrap;
}

.reachMe > li {
    margin-left: 24px;
}
